@page "/"
@page "/{boardId}"

<button class="btn btn-outline-primary" @onclick="()=>NewGame()">New Game</button>
        <button class="btn btn-outline-primary" @onclick="()=>Undo()">Undo</button>
        <button class="btn btn-outline-primary" @onclick="()=>Redo()">Redo</button>
        <label><input type="checkbox" @bind="ShowUndoRedo"> Show Undo/Redo</label>
<br/><br/>
<BoardLite Width="500" Height="500" Rows="10" Cols="10" Colors="5" Game=Game ShowUndoRedo="@ShowUndoRedo"></BoardLite>
@code{
    [Parameter] public string BoardId{get;set;}
    public Game Game{set;get;} 
    public bool ShowUndoRedo=false;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Game = new Game(10,10,5); 
        if(!string.IsNullOrEmpty(BoardId)){
            Game.InitGame(BoardId);       
        }
        else{
            Game.NewGame();
        }
        
    }

    public void NewGame(){
        Game.NewGame();       
    }

    public void Undo(){
        Game.Undo();        
    }

    public void Redo(){
        Game.Redo();        
    }
}