@page "/"

<button class="btn btn-outline-primary" @onclick="()=>NewGame()">New Game</button><br/><br/>
<Board @ref="board" Width="1000" Height="500" Rows="10" Cols="20" Colors="4"></Board>
@code{
    
    Board board;
    public void NewGame(){
        board.NewGame();        
    }
}