@page "/"

<button class="btn btn-outline btn-primary" @onclick="()=>NewGame()">New Game</button><br/><br/>
<Board @ref="board" Width="500" Height="500" Rows="5" Cols="5" Colors="4"></Board>
@code{
    
    Board board;
    public void NewGame(){
        board.NewGame();        
    }
}